
body {
  background-color: #000022;
  overflow-x: hidden;}

.v-header{
  align-items: center;
  height: 100vh;
  display: flex;
  align-items: center;
  color:#fff;}

.container{
  justify-content: center;
  max-width: 960px;
  margin:auto;}

@keyframes pulsing {
    0% {color: rgba(255,255,255, 0);}
    40% {color:rgba(255,255,255, 0.4);}
    0% {color:rgba(255,255,255, 0);}}

.fa-caret-down {
  animation-name: pulsing;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;}

.fullscreen-video-wrap{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;}

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;}

.header-overlay{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left:0;
  /*background: linear-gradient(150deg, rgba(0, 96, 92, 1) 0%, rgba(35, 7, 93, 1) 100%);*/
  /**/background:rgba(0, 0, 34, 1);
  z-index: 1;
  opacity: 0.4;}

.header-content {
  z-index: 1;
  text-align: center;}

.header-content h1 {
  max-width: 500px;
  line-height: 1.0;
  font-family: 'Maitree', serif;
  font-weight: 300;
  font-size: 120px;}

.nav-bar {
  background:linear-gradient(150deg, rgba(0, 96, 92, 0.5) 0%, rgba(35, 7, 93, 0.5) 100%);
  box-shadow: 0.01px 0.01px 55px rgba(255,255,255, 0.4);
  z-index: 2;
  text-align: center;
  position: fixed;
  align-items: center;
  width: 100%;
  height:70px;
  top: 0;
  left:0;}

.nav-bar a {
  color:#fff;
  font-family: 'Maitree', serif;
  font-weight: 700;
  font-size:18px;
  margin-top: 23px;
  text-decoration: none;}

.flex-nav-bar {
  display: inline-flex;}

.header-email{
  margin-right:15px;
  margin-left:15px;}

.fas {
  filter: blur(1px);
  opacity: 0.4;
  color:#FFF;
  text-decoration: none;
  font-size: 35px;}

.about-text, h2 {
  color:#fff;
  text-align: center;}

  h2 {
  line-height: 1.1;
  font-family: 'Maitree', serif;
  font-weight: 300;
  font-size: 100px;}

.line,
.about,
.portfolio,
.about-text {
  margin:0 auto;
  max-width: 500px;}

.line{
  width: 300px;
  height: 1px;
  background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);}

.about {
  margin-top: 150px;}

.about-text{
  text-shadow: 0px 0px 0.1px #fff;
  line-height: 1.7;
  font-family: 'Maitree', serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 100px;
  margin-top: 50px;}

.container-works {
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 50px;
  max-width: 1100px;}

.works-flex {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;}

.works-inner-flex {
  box-shadow: -1px 1px 10px rgba(255, 255, 255, 0.1);
  padding:20px;
  justify-content: flex-end;
  align-items: center;
  display: flex;}

.right-flex-reverse {
  flex-direction: row-reverse;}

.blue-background {
  width: 500px;
  margin:10px;
  background:linear-gradient(90deg, rgba(0, 227, 198, 0.2) 35.05%, 
    rgba(53, 0, 150, 0.2) 100%);}

.red-background{
  width: 500px;
  margin:10px;
  background:linear-gradient(-90deg, rgba(190, 54, 121, 0.2) 0%, 
    rgba(53, 0, 150, 0.2) 100%);}

.works-inner-flex p {
  text-shadow: 0px 0px 0.1px #fff;
  color:#fff;
  font-family: 'Maitree', serif;
  font-weight: 400;
  display: flex;
  font-size: 20px;}

#text-left{
    padding-right: 20px;}

#text-right{
  padding-left: 20px;}

.works-outside, img{
  border-radius: 5px;}

img.opacity {
   opacity: 0.72;}

.icons-container {
  text-align: center;}

.social-icons-flex {
  display: inline-flex; }

.level-one-transperent {
  width: 60px;
  height: 60px;}

.fab {transform: translateY(21px);}

.social-icons-flex{
  margin:30px 20px;}

.fab {
  color:#fff;}

.contact-form {
  text-align: center;}

input, textarea, button{
  color:#fff;
  padding: 20px 20px;
  width: calc(50% - 10px);}

input[type="text"]{
  font-family: 'Maitree', serif;}

input, textarea{
  background:transparent;
  border:1px solid;
  border-image:linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
   border-image-slice: 2;}

.btn{ 
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 16px;
  color:#fff;
  font-family: 'Maitree', serif;
  font-weight: 400;
  border:0;
  background:linear-gradient(150deg, rgba(0, 96, 92, 1) 0%, rgba(35, 7, 93, 1) 100%);}

.contact-form {
  padding-bottom: 100px;}

ul.contact-form li{margin:10px 0 10px 0;}
textarea {resize: vertical;}

textarea::placeholder,
input::placeholder {
  font-size: 14px;
  font-family: 'Maitree', serif;
  font-weight: 400;
  opacity: 0.3;
  color:#fff;}

input:hover,
textarea:hover {
background:transparent;
border:1px solid;
border-image:linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, 
  rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
border-image-slice: 1;}

.btn:hover {
  font-weight: 700;}

input:focus,
textarea:focus{
  outline: none;}

/*BUtton ripple*/
/@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;}}
@keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;}}

.btn, .level-one-transperent {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;}

.btn:before, .level-one-transperent:before {
  content: '';
  position: absolute;
  border:solid 2px;
  border-image:linear-gradient(150deg, rgba(0, 96, 92, 1) 0%, rgba(35, 7, 93, 1) 100%);
  animation-timing-function: ease;
  border-image-slice:2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;}

.btn:hover:before, 
.btn:focus:before, 
.btn:active:before, 
.level-one-transperent:hover:before, 
.level-one-transperent:focus:before, 
.level-one-transperent:active:before{
  animation-name: hvr-ripple-out;
  cursor: pointer;}

.footer > p {
  line-height: 1.4;
  font-size: 20px;
  font-family: 'Maitree', serif;
  font-weight: 500;
  text-align: center;
  color:#fff;}

.footer {
  margin-bottom: 100px;
  padding:20px 0 20px 0px;
  width: 100%;}











